@model ReflectionIT.Mvc.Paging.PagingList<projeto.Models.Item>

@{
    ViewData["Title"] = "Item";
}

<h3>Itens</h3>

<form method="get" class="d-flex flex-column">
  <div class="col col-sm-6">
  <input name="filtro" class="form-control" placeholder="Digite o item" value="@Model.RouteValue["Filtro"]" />
  </div>
  <div class="col my-3">
  <button type="submit" class="btn btn-dark">Procurar</button>
  </div>
</form>
<div class="my-3">
Total de Itens Cadastrados: @Model.TotalRecordCount
</div>
<p>
  <a class="btn corlaranja link-dark" asp-action="Create">Criar novo Cadastro</a>
</p>


<ol class="list-group list-group-numbered">

  @foreach (var item in Model)
  {

    <li class="list-group-item d-flex justify-content-between align-items-start mt-3">
      <div class="ms-2 me-auto d-flex flex-column col-6  col-md-10">
        <div class="fw-bold">@Html.DisplayFor(modelItem => item.Nome) - Categoria: @Html.DisplayFor(modelItem =>
        item.Categoria.CategoriaId)</div>
        <span>@Html.DisplayFor(modelItem => item.DescricaoCurta)</span>
        <i>@Html.DisplayFor(modelItem => item.DescricaoDetalhada)</i>
        <b>R$ @Html.DisplayFor(modelItem => item.Preco)</b>

        <div class="d-flex mt-2">
          <a class="btn corlaranja" asp-action="Edit" asp-route-id="@item.ItemId">Editar</a>&nbsp;|&nbsp;
          <a class="btn corlaranja" asp-action="Details" asp-route-id="@item.ItemId">Detalhar</a>&nbsp;|&nbsp;
          <a class="btn corlaranja" asp-action="Delete" asp-route-id="@item.ItemId">Deletar</a>
        </div>
      </div>

      <div class="d-flex flex-column text-center col-6 col-md-2">
        <a href="@item.ImagemPequenaUrl" target="_blank">
          <img src="@item.ImagemPequenaUrl" width="100px" asp-append-version="true"></a>
        <span>Destaque: @Html.DisplayFor(modelItem => item.Destaque)</span>
        <span>Ativo: @Html.DisplayFor(modelItem => item.Ativo)</span>
      </div>
    </li>
  }
</ol>

<div class="my-3">
  <vc:pager paging-list="@Model"></vc:pager>
</div>
