@model IEnumerable<projeto.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h3>Categoria</h3>

<p>
    <a class=" btn corlaranja link-dark" asp-action="Create">Criar nova Categoria</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <div class="d-flex">
                <td>
                    <a class="btn corlaranja" asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                    <a class="btn corlaranja" asp-action="Details" asp-route-id="@item.CategoriaId">Detalhar</a> |
                    <a class="btn corlaranja" asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a>
                </td>
            </div>
        </tr>
}
    </tbody>
</table>
